.tournament, .tournament--finished
    display: flex
    justify-content: space-between
    width: 100%
    background-color: rgb(9, 44, 100)
    color: rgb(241,241,241)
    margin-bottom: 1rem
    padding: .5em 1em

    &--finished
        background-color: rgb(156, 4, 4)

    &__element
        display: flex
        align-items: center
        height: 2em

    &__title
        padding-right: 1em
        border-right: 1px solid rgb(241,241,241)
        flex-grow: 1

    &__date
        padding-left: 1em
