@media all and (min-width: 650px)
    .tournaments
        width: 650px
        margin: 0 auto
        position: relative

    .tournaments__legend
        position: absolute
        right: 25px
        top: 135px

        &__element:first-child
            margin-right: 1rem

    .tournaments__filters
        justify-content: flex-start

        &__element:first-child
            margin-right: 1rem

    